/* .home-container {
  margin: 0px;
  padding: 0px;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 720px;
  color: white;
  align-items: center;
} */

/* .img {
  height: 443px;
  width: 500px;
} */

/* .content-container{
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .otp{
    
} */

.home-container {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set height to 100% of viewport height */
    color: white;
    align-items: center;
  }
  
  .img {
    height: 50vh; /* Set height to 50% of viewport height */
    width: auto; /* Automatically adjust width */
    max-width: 90%; /* Limit width to 90% of parent container */
  }
  
  .content-container {
    margin-top: -10vh; /* Adjust margin based on viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Media query for small screens */
  @media (max-width: 768px) {
    .img {
      height: 30vh; /* Set height to 30% of viewport height */
      margin-left: 13px;
    }
  
    .content-containe{
        max-width: 90%;
        flex-basis: 100%;
    }
    .input-container{
        max-width: 90%;
        flex-basis: 100%;
        
    }
    .otp {
      max-width: 90%;
      flex-basis: 100%; /* Occupy full width */
    }
  }
  